VENUS_IMX214_SUNNY=/system/etc/camera/configeffect/digitalzoom/imx214/
VENUS_IMX214_OFILM=/system/etc/camera/configeffect/digitalzoom/imx214/
VENUS_IMX214_FOXCONN=/system/etc/camera/configeffect/digitalzoom/imx214/
NEMO_OV13850_LITEON=/system/etc/camera/configeffect/digitalzoom/ov13850/
NEMO_OV13850_OFILM=/system/etc/camera/configeffect/digitalzoom/ov13850/
NEMO_AR1335_SUNNY=/system/etc/camera/configeffect/digitalzoom/ar1335/
BERLIN_OV12870_LITEON=/system/etc/camera/configeffect/digitalzoom/ov12870/
BERLIN_IMX386_OFILM=/system/etc/camera/configeffect/digitalzoom/imx386/
BERLIN_IMX386_SUNNY=/system/etc/camera/configeffect/digitalzoom/imx386/
