HI843=/system/etc/camera/multidenoise/hi843/
OV8856=/system/etc/camera/multidenoise/ov8856/
IMX214_SUNNY=/system/etc/camera/multidenoise/imx214_sunny/
IMX214_FOXCONN=/system/etc/camera/multidenoise/imx214_foxconn/
T4KA3=/system/etc/camera/multidenoise/t4ka3/
VENUS_IMX214_SUNNY=/system/etc/camera/multidenoise/imx214/
VENUS_IMX214_OFILM=/system/etc/camera/multidenoise/imx214/
VENUS_IMX214_FOXCONN=/system/etc/camera/multidenoise/imx214/
VENUS_IMX219_SUNNY=/system/etc/camera/multidenoise/imx219/
VENUS_IMX219_LITEON=/system/etc/camera/multidenoise/imx219/
VENUS_HI843_OFILM=/system/etc/camera/multidenoise/hi843/
NEMO_OV13850_LITEON=/system/etc/camera/multidenoise/ov13850/
NEMO_OV13850_OFILM=/system/etc/camera/multidenoise/ov13850/
NEMO_AR1335_SUNNY=/system/etc/camera/multidenoise/ar1335/
NEMO_IMX219_SUNNY=/system/etc/camera/multidenoise/imx219/
NEMO_IMX219_LITEON=/system/etc/camera/multidenoise/imx219/
NEMO_HI843_OFILM=/system/etc/camera/multidenoise/hi843/
BERLIN_OV12870_LITEON=/system/etc/camera/multidenoise/ov12870/
BERLIN_IMX386_OFILM=/system/etc/camera/multidenoise/imx386/
BERLIN_IMX386_SUNNY=/system/etc/camera/multidenoise/imx386/
BERLIN_IMX219BLN_SUNNY=/system/etc/camera/multidenoise/imx219/
BERLIN_IMX219BLN_LITEON=/system/etc/camera/multidenoise/imx219/
BERLIN_HI843BLN_OFILM=/system/etc/camera/multidenoise/hi843/